# Visual Studio файли, які не потрібно відстежувати
.vs/
*.suo
*.user
*.vcxproj.user
*.csproj.user
*.sln.docstates

# Файли, що генеруються під час компіляції
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.csproj.user
*.tlog
*.lastbuildstate

# Файли NuGet та пакетів
packages/
*.nupkg
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

# Конфігураційні файли
appsettings.json
appsettings.Development.json

# Файли для Docker (якщо ти не хочеш їх комітити)
docker-compo

*.pack
*.zip
*.exe
*.iso
*.pdb
